@model FileDownloadAndUpload.Models.User
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
{
    int code = new Random().Next(55555);
    @Html.ValidationSummary(true, "")
    <fieldset>
        <legend>注册</legend>
        <div class="editor-label">
            @Html.LabelFor(u=>u.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(u=>u.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(u=>u.Password)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(u=>u.Password)
        </div>
        <div class="editor-label">
            @Html.Label("确认密码")
        </div>
        <div class="editor-field">
            @Html.TextBox("password2")
        </div>
        <div class="editor-label">
            @Html.Label("验证码")
        </div>
        <div class="editor-field">
            @Html.TextBox("vcode")
        </div>
        <div class="editor-label">
            <img src="/Common/Vcode?code=@code" />
        </div>

        <input type="submit" value="提交" />

    </fieldset>
}
